USE [master]
GO
/****** Object:  Database [Kayzon]    Script Date: 5.03.2026 23:31:10 ******/
CREATE DATABASE [Kayzon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ax', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ax.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ax_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ax_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Kayzon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Kayzon]
GO
/****** Object:  Table [dbo].[Calisan_Musteri]    Script Date: 5.03.2026 23:31:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calisan_Musteri](
	[CalısanlarID] [int] NOT NULL,
	[MusteriID] [int] NOT NULL,
 CONSTRAINT [PK_Calisan_Musteri] PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calisanlar]    Script Date: 5.03.2026 23:31:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calisanlar](
	[CalisanID] [int] NOT NULL,
	[CalisanAdi] [varchar](50) NULL,
	[CalisanSoyadi] [varchar](50) NULL,
	[CalisanTelefonu] [nvarchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[CalisanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 5.03.2026 23:31:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriID] [int] NOT NULL,
	[MusteriAdi] [varchar](50) NULL,
	[MusteriSoyadi] [varchar](50) NULL,
	[MusteriTelefonu] [nvarchar](11) NULL,
	[MusterinDogumTarihi] [date] NULL,
	[IlgilenenCalisanId] [int] NULL,
	[AlınanUrun1ID] [int] NULL,
	[AlınanUrun2ID] [int] NULL,
	[AlınanUrun3ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler1]    Script Date: 5.03.2026 23:31:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler1](
	[Urunler1ID] [int] NOT NULL,
	[Urunler1Adi] [varchar](50) NULL,
	[Urunler1Fiyati] [int] NULL,
	[Urunler1EklenmeTarihi] [date] NULL,
	[Urunler1FavoriSayisi] [bigint] NULL,
	[CalısanID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Urunler1ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler2]    Script Date: 5.03.2026 23:31:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler2](
	[Urunler2ID] [int] NOT NULL,
	[Urunler2Adi] [varchar](50) NULL,
	[Urunler2Fiyati] [int] NULL,
	[Urunler2EklenmeTarihi] [date] NULL,
	[Urunler2FavoriSayisi] [int] NULL,
	[CalısanID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Urunler2ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler3]    Script Date: 5.03.2026 23:31:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler3](
	[Urunler3ID] [int] NOT NULL,
	[Urunler3Adi] [varchar](50) NULL,
	[Urunler3Fiayti] [int] NULL,
	[Urunler3EklenmeTarihi] [date] NULL,
	[Urunler3FavoriSayisi] [int] NULL,
	[CalisanID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Urunler3ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorumlar]    Script Date: 5.03.2026 23:31:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorumlar](
	[YorumID] [int] NOT NULL,
	[YorumuYapanKullaniciID] [int] NULL,
	[YorumTarihi] [date] NULL,
	[Puan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[YorumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Calisan_Musteri] ([CalısanlarID], [MusteriID]) VALUES (2, 1)
INSERT [dbo].[Calisan_Musteri] ([CalısanlarID], [MusteriID]) VALUES (5, 2)
INSERT [dbo].[Calisan_Musteri] ([CalısanlarID], [MusteriID]) VALUES (4, 3)
GO
INSERT [dbo].[Calisanlar] ([CalisanID], [CalisanAdi], [CalisanSoyadi], [CalisanTelefonu]) VALUES (1, N'Berk', N'Yıldırım', N'5511916999')
INSERT [dbo].[Calisanlar] ([CalisanID], [CalisanAdi], [CalisanSoyadi], [CalisanTelefonu]) VALUES (2, N'Ayaz', N'Kaymaz', N'5534878999')
INSERT [dbo].[Calisanlar] ([CalisanID], [CalisanAdi], [CalisanSoyadi], [CalisanTelefonu]) VALUES (3, N'Fahri', N'Dalga', N'5591710105')
GO
INSERT [dbo].[Musteriler] ([MusteriID], [MusteriAdi], [MusteriSoyadi], [MusteriTelefonu], [MusterinDogumTarihi], [IlgilenenCalisanId], [AlınanUrun1ID], [AlınanUrun2ID], [AlınanUrun3ID]) VALUES (1, N'Can', N'Yılmaz', N'55119160002', CAST(N'1980-11-01' AS Date), 2, 5, 4, 10)
INSERT [dbo].[Musteriler] ([MusteriID], [MusteriAdi], [MusteriSoyadi], [MusteriTelefonu], [MusterinDogumTarihi], [IlgilenenCalisanId], [AlınanUrun1ID], [AlınanUrun2ID], [AlınanUrun3ID]) VALUES (2, N'Ahmet', N'Akcay', N'55348144444', CAST(N'2005-09-05' AS Date), 5, 6, NULL, 1)
INSERT [dbo].[Musteriler] ([MusteriID], [MusteriAdi], [MusteriSoyadi], [MusteriTelefonu], [MusterinDogumTarihi], [IlgilenenCalisanId], [AlınanUrun1ID], [AlınanUrun2ID], [AlınanUrun3ID]) VALUES (3, N'Ali', N'Karadogan', N'55197010555', CAST(N'1975-08-08' AS Date), 4, NULL, 7, 5)
GO
INSERT [dbo].[Urunler1] ([Urunler1ID], [Urunler1Adi], [Urunler1Fiyati], [Urunler1EklenmeTarihi], [Urunler1FavoriSayisi], [CalısanID]) VALUES (1, N'Buzdolabı', 12000, CAST(N'2020-11-10' AS Date), 160, 5)
INSERT [dbo].[Urunler1] ([Urunler1ID], [Urunler1Adi], [Urunler1Fiyati], [Urunler1EklenmeTarihi], [Urunler1FavoriSayisi], [CalısanID]) VALUES (2, N'Çamaşır Makinesi', 9500, CAST(N'2021-06-21' AS Date), 112, 3)
INSERT [dbo].[Urunler1] ([Urunler1ID], [Urunler1Adi], [Urunler1Fiyati], [Urunler1EklenmeTarihi], [Urunler1FavoriSayisi], [CalısanID]) VALUES (3, N'Fırın', 7000, CAST(N'2022-08-19' AS Date), 95, 2)
GO
INSERT [dbo].[Urunler2] ([Urunler2ID], [Urunler2Adi], [Urunler2Fiyati], [Urunler2EklenmeTarihi], [Urunler2FavoriSayisi], [CalısanID]) VALUES (1, N'Su Sebili', 2800, CAST(N'2025-03-01' AS Date), 70, 1)
INSERT [dbo].[Urunler2] ([Urunler2ID], [Urunler2Adi], [Urunler2Fiyati], [Urunler2EklenmeTarihi], [Urunler2FavoriSayisi], [CalısanID]) VALUES (2, N'Blender Seti', 2100, CAST(N'2024-07-01' AS Date), 81, 2)
INSERT [dbo].[Urunler2] ([Urunler2ID], [Urunler2Adi], [Urunler2Fiyati], [Urunler2EklenmeTarihi], [Urunler2FavoriSayisi], [CalısanID]) VALUES (3, N'Tencere Seti', 1800, CAST(N'2024-02-28' AS Date), 65, 3)
GO
INSERT [dbo].[Urunler3] ([Urunler3ID], [Urunler3Adi], [Urunler3Fiayti], [Urunler3EklenmeTarihi], [Urunler3FavoriSayisi], [CalisanID]) VALUES (1, N'Şarj Aleti', 500, CAST(N'2022-04-19' AS Date), 220, 3)
INSERT [dbo].[Urunler3] ([Urunler3ID], [Urunler3Adi], [Urunler3Fiayti], [Urunler3EklenmeTarihi], [Urunler3FavoriSayisi], [CalisanID]) VALUES (2, N'Kablosuz Kulaklik', 1200, CAST(N'2024-06-17' AS Date), 185, 2)
INSERT [dbo].[Urunler3] ([Urunler3ID], [Urunler3Adi], [Urunler3Fiayti], [Urunler3EklenmeTarihi], [Urunler3FavoriSayisi], [CalisanID]) VALUES (3, N'Oyun Konsolu', 15000, CAST(N'2025-05-06' AS Date), 170, 2)
GO
INSERT [dbo].[Yorumlar] ([YorumID], [YorumuYapanKullaniciID], [YorumTarihi], [Puan]) VALUES (1, 1, CAST(N'2024-11-10' AS Date), 5)
INSERT [dbo].[Yorumlar] ([YorumID], [YorumuYapanKullaniciID], [YorumTarihi], [Puan]) VALUES (2, 2, CAST(N'2023-06-01' AS Date), 4)
INSERT [dbo].[Yorumlar] ([YorumID], [YorumuYapanKullaniciID], [YorumTarihi], [Puan]) VALUES (3, 3, CAST(N'2025-05-08' AS Date), 5)
GO
ALTER TABLE [dbo].[Calisan_Musteri]  WITH CHECK ADD  CONSTRAINT [FK_Calisan_Musteri_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[Calisan_Musteri] CHECK CONSTRAINT [FK_Calisan_Musteri_Musteriler]
GO
ALTER TABLE [dbo].[Musteriler]  WITH CHECK ADD  CONSTRAINT [FK_Musteriler_Calisanlar] FOREIGN KEY([IlgilenenCalisanId])
REFERENCES [dbo].[Calisanlar] ([CalisanID])
GO
ALTER TABLE [dbo].[Musteriler] CHECK CONSTRAINT [FK_Musteriler_Calisanlar]
GO
ALTER TABLE [dbo].[Musteriler]  WITH CHECK ADD  CONSTRAINT [FK_Musteriler_Urunler1] FOREIGN KEY([AlınanUrun1ID])
REFERENCES [dbo].[Urunler1] ([Urunler1ID])
GO
ALTER TABLE [dbo].[Musteriler] CHECK CONSTRAINT [FK_Musteriler_Urunler1]
GO
ALTER TABLE [dbo].[Musteriler]  WITH CHECK ADD  CONSTRAINT [FK_Musteriler_Urunler2] FOREIGN KEY([AlınanUrun2ID])
REFERENCES [dbo].[Urunler2] ([Urunler2ID])
GO
ALTER TABLE [dbo].[Musteriler] CHECK CONSTRAINT [FK_Musteriler_Urunler2]
GO
ALTER TABLE [dbo].[Musteriler]  WITH CHECK ADD  CONSTRAINT [FK_Musteriler_Urunler3] FOREIGN KEY([AlınanUrun3ID])
REFERENCES [dbo].[Urunler3] ([Urunler3ID])
GO
ALTER TABLE [dbo].[Musteriler] CHECK CONSTRAINT [FK_Musteriler_Urunler3]
GO
ALTER TABLE [dbo].[Musteriler]  WITH CHECK ADD  CONSTRAINT [FK_Musteriler_Yorumlar] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Yorumlar] ([YorumID])
GO
ALTER TABLE [dbo].[Musteriler] CHECK CONSTRAINT [FK_Musteriler_Yorumlar]
GO
USE [master]
GO
